body {
    font-family: sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Centraliza o conteúdo */
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-author {
    font-weight: bold;
  }
  
  .post-content {
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 90%; /* Aumenta a largura dos campos */
    padding: 12px; /* Aumenta o padding dos campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto; /* Centraliza os campos */
    box-sizing: border-box; /* Inclui padding e border na largura total */
  }
  
  .btn {
    padding: 10px 20px; /* Aumenta o padding do botão */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Aumenta o tamanho da fonte do botão */
    margin: 0 auto; /* Centraliza o botão */
    display: block; /* Faz o botão ocupar toda a largura */
  }